{% extends 'base.html.twig' %}

{% block title %}Description formation{% endblock %}

{% block body %}
<div class="container">  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2 ">
        <div>
            {% for image in training.images %}
            <div>
                <img class="card-img-bottom" src="{{ asset('/uploads/trainings/'~image.image)|imagine_filter('carre')}}" alt="{{training.name}}" >
            </div>
            {% endfor %}  
        </div>
        <div>
            <p>Nom: {{training.name}}</p>
            <p>Description: {{training.description}}</p>  
            <p>Prix: {{training.price}}</p> 
            {% for coach in training.coache %}
                <p>Coach: {{coach.name}}</p>
            {% endfor %}
        </div>
    </div>  
</div>
{% endblock %}