{% extends 'base.html.twig' %}

{% block title %}{% trans %}Description formation{% endtrans %}{% endblock %}

{% block body %}
<div class="container">  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2 ">
        <div>
            {% for image in training.images %}
                <div>
                    <img class="card-img-bottom" src="{{ asset('/uploads/trainings/'~image.image)|imagine_filter('carre')}}" alt="{{training.name}}" >
                </div>
            {% endfor %}             
        </div>
        <div>
            <p>{% trans %}Name: {% endtrans %}{{training.name}}</p>
            <p>{% trans %}Description:{% endtrans %} {{training.description}}</p>  
            <p>{% trans %}Price: {% endtrans %}{{training.price}}€</p> 
            {% for coach in training.coache %}
                <p>{% trans %}Coach: {% endtrans %}{{coach.name}}</p>
            {% endfor %}
            
            <div class="">
                <button id="invit-paiement" class="btn btn-primary "  type="submit">{% trans %}Passer à l'action!{% endtrans %}</button>
                <div id="invitpaiement"></div>
            </div>
            {% if app.user %}               
                <div >                    
                    <form class="d-flex" action={{path('app_checkout')}} method="Post">        
                            <div class="form-group ">                            
                                <input type="hidden"  name="price" class="form-control" value={{training.price}} /> 
                                <input type="hidden"  name="quantity" class="form-control" value="1" /> 
                                <input type="hidden"  name="name" class="form-control" value={{training.name}} />
                                <input type="hidden"  name="description" class="form-control" value={{training.description}} />                                                           
                                <button class="btn btn-primary " type="submit">{% trans %}Pay Now{% endtrans %}</button>
                            </div>
                    </form> 
                </div>                    
            {% endif %}   
            {% if is_granted('ROLE_CUSTOMER') %}  
                {% for pdf in training.pDFs %}                   
                    <div>        
                        <object type="application/pdf" width="100%" height="100%">
                            <param name="src" value="{{ asset('uploads/pdfs/'~pdf.pdf) }}" />                        
                            <p><a class="text-decoration-none" href="{{ asset('uploads/pdfs/'~pdf.pdf) }}">Click here to download the training files.</a></p>                    
                        </object>
                    </div>       
                {% endfor %}
            {% endif %}       
        </div>
    </div>  
</div>
{% endblock %}