{% extends 'base.html.twig' %}

{% block title %}Description formation{% endblock %}

{% block body %}
<div class="container">  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2 ">
        <div>
            {% for image in training.images %}
            <div>
                <img class="card-img-bottom" src="{{ asset('/uploads/trainings/'~image.image)|imagine_filter('carre')}}" alt="{{training.name}}" >
            </div>
            {% endfor %}  
        </div>
        <div>
            <p>Name: {{training.name}}</p>
            <p>Description: {{training.description}}</p>  
            <p>Price: {{training.price}}</p> 
            {% for coach in training.coache %}
                <p>Coach: {{coach.name}}</p>
            {% endfor %}
            {% if app.user %}
                <div >
                    <h2>{% trans %}Proceseder au paiement{% endtrans %}</h2> 
                    <form class="d-flex" action={{path('app_checkout')}} method="Post">        
                            <div class="form-group ">                            
                                <input type="hidden"  name="price" class="form-control" value={{training.price}} /> 
                                <input type="hidden"  name="quantity" class="form-control" value="1" /> 
                                <input type="hidden"  name="name" class="form-control" value={{training.name}} />
                                <input type="hidden"  name="description" class="form-control" value={{training.description}} />                                                           
                                <button class="btn btn-primary " type="submit">{% trans %}Pay Now{% endtrans %}</button>
                            </div>
                    </form> 
                </div>                    
            {% endif %}
        </div>
    </div>  
</div>
{% endblock %}