{% extends 'base.html.twig' %}

{% block title %}Description formation{% endblock %}

{% block body %}
<div class="container">    
    <h4>Nom: {{training.name}}</h4>
    <h4>Description: {{training.description}}</h4>  
    <h4>Prix: {{training.price}}</h4> 
    {% for coach in training.coache %}
        <h4>Coach: {{coach.name}}</h4>
    {% endfor %} 
    {% for image in training.images %}
        <div>
            <img class="card-img-bottom" src="{{ asset('/uploads/'~image.image) }}" alt="categorie image" width="200px" height="400px" >
        </div>
    {% endfor %}      
</div>
<br>
{# {{ render(path('recherche_presta')) }} #}
{% endblock %}