{% extends 'users.html.twig' %}


{% block title %}{% trans %}profile of{% endtrans %} {{app.user.coach.name}} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">       
        <div class="col-md-4 my-5">
            <div class="card bg-dark text-center sidebar">
                <div class="card-body">
                    <img src="{{ asset('/uploads/coaches/'~app.user.coach.image)}}" class="rounded-circle" alt="{{app.user.coach.name}}" width="200">
                    <div class="mt-3">
                        <h3>{% trans %}My profile{% endtrans %}</h3>
                    </div>
                </div> 
            </div> 
        </div>      
        <div class="col-md-8 my-5">
            <div class="card mb-3 content">
                <h1>{% trans %}profile of {% endtrans %}{{app.user.coach.name}}</h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>{% trans %}Full name{% endtrans %}</h3>
                        </div>
                        <div class="col-md-9 ">
                            {{app.user.coach.name}}
                        </div>
                    </div>    
                                  
                    <div class="row">
                        <div class="col-md-3">
                            <h3>{% trans %}Email{% endtrans %}</h3>
                        </div>
                        <div class="col-md-9 ">
                            {{app.user.email}}
                        </div>
                    </div>
                    <div class="btn-group">                        
                        <button type="button" class="btn btn-primary btn-sm btn-outline-secondary"><a class="text-decoration-none text-white" href={{path('users_edit_profile')}}>{% trans %}Edit my profile{% endtrans %}</a></button>
                        <button type="button" class="btn btn-primary btn-sm btn-outline-secondary ms-5"><a class="text-decoration-none text-white" href={{path('users_edit_password')}}>{% trans %}Edit Password{% endtrans %}</a></button>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="card mb-3 content">
                <h1>{% trans %}The training courses of{% endtrans %} {{app.user.coach.name}} ({{app.user.coach.trainings|length}})</h1>
                <div class="card-body">
                    {% for training in app.user.coach.trainings %}
                    <div class="row">                        
                        <div class="col-md-9 ">
                            <a class="text-decoration-none"  href={{path('show_training', {id:training.id})}}>{{training.name}}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="btn-group">                        
                <button type="button" class="btn btn-primary btn-sm btn-outline-secondary"><a class="text-decoration-none text-white" href={{path('add_trainings')}}>{% trans %}Add a training{% endtrans %}</a></button>
            </div>
        </div> 
    </div>    
</div>
{% endblock %}
