{% extends 'base.html.twig' %}

{% block title %}Detail coach{% endblock %}

{% block body %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2 ">    
        <div class=" ">            
            <img class="card-img-bottom" src="{{ asset('/uploads/coaches/'~coach.image)|imagine_filter('carre') }}" alt="{{coach.name}}" >
        </div>   
        <div class=" ">
            <h4>Coach: {{coach.name}}</h4>  
            <h4>Description: {{coach.description}}</h4> 
            <h4>Site web: {{coach.getSocialNetworkingLink}}</4>                 
            {% for training in coach.trainings %}
                <h4>Formation: <a href={{path('show_training', {id:training.id})}}>{{training.name}}</a></h4>
            {% endfor %} 
        </div>      
    </div>   
</div>   
{% endblock %}

